* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 30px;
  color: black;
  font-family: "Lobster", cursive;
  text-transform: capitalize;
}
.navbar-brand:hover {
  color: black;
}

.nav-link {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  border: 2px solid gray;
}

.btn-0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 60px;
  background-color: gray;
  color: white;
  font-weight: 700;
}

.btn-0:hover {
  background-color: #ac041a;
  color: white;
}

.intro {
  background: url(/assets/photos/intro-photo.jpg) no-repeat;
  background-size: cover;
  padding: 30px 30px;
  background-position: 50% 50%;
  width: 100%;
}

.intro--2 {
  background: url(/assets/photos/intro-photo-3.jpg) no-repeat;
  background-size: cover;
  padding: 30px 30px;
  background-position: 50% 50%;
  width: 100%;
}

.display-1 {
  font-family: "Lobster", cursive;
  color: white;
  text-transform: capitalize;
}
.display-2 {
  font-family: "Lobster", cursive;
  color: black;
  text-transform: capitalize;
}
.display-3 {
  font-family: "Lobster", cursive;
  color: white;
  text-transform: capitalize;
}
.display-5 {
  font-family: "Lobster", cursive;
  color: white;
  text-transform: capitalize;
}

.btn-rounded {
  background-color: gray;
  color: white;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 10px 15px;
  min-width: 200px;
}

.btn-rounded:hover {
  background-color: #ac041a;
  color: white;
}

.back {
  background-color: rgba(191, 209, 24, 0.2);
  background-size: 40px;
}

.section-title p {
  color: #ac041a;
  text-transform: capitalize;
}

.trading-img:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.society-img {
  max-height: 100%;
  width: 100%;
}
.society-img img {
  width: 100%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.732);
}

.footer-btn input {
  background-color: white;
  color: rgba(0, 0, 0, 0.732);
  font-weight: bold;
}

.footer-btn input:hover,
.footer-btn input:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-btn button {
  background-color: white;
  color: rgba(0, 0, 0, 0.732);
  font-weight: bold;
  border-radius: 0;
}
.footer-btn button:hover {
  background-color: #ac041a;
}

.footer li {
  list-style-type: none;
}
.footer li:hover {
  color: #ac041a;
  cursor: pointer;
}

.brand {
  font-size: 36px;
  color: white;
}
.brand i:hover {
  color: #ac041a;
}
ol,
ul {
  padding-left: 0;
}
